In [1]:
import pandas as pd
import kernel_fda

In [2]:
df_LDA_ex1 = pd.read_csv("./Data/lda_ex1.csv")

In [3]:
df_LDA_ex1

           x1        x2  class
0   -0.297128  0.477975      2
1   -0.575548 -0.274354      1
2   -0.793637 -0.681858      1
3    0.842911 -0.766655      2
4   -0.566261  0.621195      2
..        ...       ...    ...
995 -0.589864  0.320973      1
996 -0.503128  0.594245      2
997  0.105585  0.528042      2
998  0.005938 -0.026639      1
999 -0.364396 -0.786401      1

[1000 rows x 3 columns]

In [4]:
linear_classifier_ex1 = kernel_fda.KFDA_Poly(degree=1)

In [6]:
linear_classifier_ex1.fit(X=df_LDA_ex1[['x1', 'x2']], y = df_LDA_ex1['class'])

In [7]:
linear_classifier_ex1.score(X=df_LDA_ex1[['x1', 'x2']], y_true=df_LDA_ex1['class'])

0.998

In [8]:
df_LDA_ex2 = pd.read_csv("./Data/lda_ex2.csv")

In [9]:
df_LDA_ex2

           x1        x2  class
0    0.074847 -0.244870      1
1    0.084495 -0.631542      1
2    0.644712 -0.622468      2
3   -0.059989  0.772946      2
4    0.571118 -0.393794      1
..        ...       ...    ...
995 -0.582585 -0.805099      2
996  0.293623  0.110988      1
997 -0.300592 -0.486035      1
998  0.891114  0.702401      2
999  0.194557 -0.856586      2

[1000 rows x 3 columns]

In [10]:
linear_classifier_ex2 = kernel_fda.KFDA_Poly(degree=1)

In [12]:
linear_classifier_ex2.fit(X=df_LDA_ex2[['x1', 'x2']], y=df_LDA_ex2['class'])

In [13]:
linear_classifier_ex2.score(X=df_LDA_ex2[['x1', 'x2']], y_true=df_LDA_ex2['class'])

0.502

In [14]:
kernel_classifier = kernel_fda.KFDA_Poly(degree=2)

In [15]:
kernel_classifier.fit(X=df_LDA_ex2[['x1', 'x2']], y=df_LDA_ex2['class'])

In [16]:
kernel_classifier.score(X=df_LDA_ex2[['x1', 'x2']], y_true=df_LDA_ex2['class'])

0.911